UTSJSPClient/src/conf/xml-resources/web-service-references/TiketService/wsdl/localhost_8080/UTSWebService/TiketService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tiketService.ws.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tiketService.ws.org/" name="TiketService">
<types>
<xsd:schema>
<xsd:import namespace="http://tiketService.ws.org/" schemaLocation="http://localhost:8080/UTSWebService/TiketService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getDataTiket">
<part name="parameters" element="tns:getDataTiket"/>
</message>
<message name="getDataTiketResponse">
<part name="parameters" element="tns:getDataTiketResponse"/>
</message>
<message name="getDataAllTiket">
<part name="parameters" element="tns:getDataAllTiket"/>
</message>
<message name="getDataAllTiketResponse">
<part name="parameters" element="tns:getDataAllTiketResponse"/>
</message>
<portType name="TiketService">
<operation name="hello">
<input wsam:Action="http://tiketService.ws.org/TiketService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tiketService.ws.org/TiketService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getDataTiket">
<input wsam:Action="http://tiketService.ws.org/TiketService/getDataTiketRequest" message="tns:getDataTiket"/>
<output wsam:Action="http://tiketService.ws.org/TiketService/getDataTiketResponse" message="tns:getDataTiketResponse"/>
</operation>
<operation name="getDataAllTiket">
<input wsam:Action="http://tiketService.ws.org/TiketService/getDataAllTiketRequest" message="tns:getDataAllTiket"/>
<output wsam:Action="http://tiketService.ws.org/TiketService/getDataAllTiketResponse" message="tns:getDataAllTiketResponse"/>
</operation>
</portType>
<binding name="TiketServicePortBinding" type="tns:TiketService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataTiket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataAllTiket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TiketService">
<port name="TiketServicePort" binding="tns:TiketServicePortBinding">
<soap:address location="http://localhost:8080/UTSWebService/TiketService"/>
</port>
</service>
</definitions>