UTSWebServiceClient/src/conf/xml-resources/web-service-references/TiketService/wsdl/localhost_8080/UTSWebService/TiketService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tiketService.ws.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tiketService.ws.org/">

<xs:element name="getDataAllTiket" type="tns:getDataAllTiket"/>

<xs:element name="getDataAllTiketResponse" type="tns:getDataAllTiketResponse"/>

<xs:element name="getDataTiket" type="tns:getDataTiket"/>

<xs:element name="getDataTiketResponse" type="tns:getDataTiketResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getDataAllTiket">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataAllTiketResponse">
<xs:sequence>
<xs:element name="return" type="tns:tiket" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tiket">
<xs:sequence>
<xs:element name="asal" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:double"/>
<xs:element name="tujuan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataTiket">
<xs:sequence>
<xs:element name="asal" type="xs:string" minOccurs="0"/>
<xs:element name="tujuan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataTiketResponse">
<xs:sequence>
<xs:element name="return" type="tns:tiket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>